:root {
    /* Generic */
    --tridactyl-font-family: monospace;
    --tridactyl-font-family-sans: sans-serif;
    --tridactyl-font-size: 14pt;
    --tridactyl-small-font-size: 14px;
    --tridactyl-bg: #090B10;
    --tridactyl-fg: #A6ACCD;
    --tridactyl-logo: url("moz-extension://__MSG_@@extension_id__/static/logo/Tridactyl_64px.png");
    --tridactyl-scrollbar-color: auto;

    /* Mode indicator */
    --tridactyl-status-font-family: var(--tridactyl-font-family);
    --tridactyl-status-font-size: var(--tridactyl-small-font-size);
    --tridactyl-status-bg: var(--tridactyl-bg);
    --tridactyl-status-fg: var(--tridactyl-fg);
    --tridactyl-status-border: 1px #232637 solid;
    --tridactyl-status-border-radius: 2px;

    /* Search highlight */
    --tridactyl-search-highlight-color: yellow;

    /* Hinting */

    /* Hint character tags */
    --tridactyl-hintspan-font-family: var(--tridactyl-font-family-sans);
    --tridactyl-hintspan-font-size: var(--tridactyl-small-font-size);
    --tridactyl-hintspan-font-weight: bold;
    --tridactyl-hintspan-fg: #0F111A;
    --tridactyl-hintspan-bg: #84FFFF;
    --tridactyl-hintspan-border-color: ButtonShadow;
    --tridactyl-hintspan-border-width: 0px;
    --tridactyl-hintspan-border-style: solid;
    --tridactyl-hintspan-js-background: hsla(0, 0%, 65%);

    /* Element highlights */
    --tridactyl-hint-active-fg: var(--tridactyl-fg);
    --tridactyl-hint-active-bg: #464B5D;
    --tridactyl-hint-active-outline: 1px solid #84FFFF;

    --tridactyl-hint-bg: #1F223399;
    --tridactyl-hint-outline: 1px solid #82AAFF;

    /* :viewsource */
    --tridactyl-vs-bg: var(--tridactyl-bg);
    --tridactyl-vs-fg: var(--tridactyl-fg);
    --tridactyl-vs-font-family: var(--tridactyl-font-family);

    /*commandline*/

    --tridactyl-cmdl-bg: var(--tridactyl-bg);
    --tridactyl-cmdl-fg: var(--tridactyl-fg);
    --tridactyl-cmdl-line-height: 1.5;
    --tridactyl-cmdl-font-family: monospace;
    --tridactyl-cmdl-font-size: 10pt;

    /*completions*/

    --tridactyl-cmplt-option-height: 1.4em;
    --tridactyl-cmplt-fg: var(--tridactyl-fg);
    --tridactyl-cmplt-bg: var(--tridactyl-bg);
    --tridactyl-cmplt-font-size: 10pt;
    --tridactyl-cmplt-font-family: monospace;
    /* i don't think 0.5px is redered */
    --tridactyl-cmplt-border-top: 1px solid #232637;

    /* need a better way for naming variables 
     *
        - .Properties for .HistoryCompletionSource table
        - .Properties for .BmarkCompletionSource table

    */

    /*sectionHeader*/

    --tridactyl-header-first-bg: #090B10;
    --tridactyl-header-second-bg: #090B10;
    --tridactyl-header-third-bg: #090B10;
    --tridactyl-header-fg: var(--tridactyl-fg);
    /* eg. What if I dont want liner-gradient as bg?
     *
     * :root .sectionHeader { background: blue; }
     *
     * ????
     */

    --tridactyl-header-font-size: inherit;
    --tridactyl-header-font-weight: bold;
    /* i don't think 0.5px is redered */
    --tridactyl-header-border-bottom: 1px solid bottom #232637;

    /*url style*/

    --tridactyl-url-text-decoration: none;
    --tridactyl-url-fg: #82FFFF;
    --tridactyl-url-bg: var(--tridactyl-bg);
    --tridactyl-url-cursor: pointer;

    /*option focused*/

    --tridactyl-of-fg: var(--tridactyl-fg);
    --tridactyl-of-bg: #1A1C25;

    /*new tab spoiler box*/
    --tridactyl-highlight-box-bg: rgba(0, 0, 0, 0.07);
    --tridactyl-highlight-box-fg: var(--tridactyl-fg);

    --tridactyl-private-window-icon-url: url("chrome://browser/skin/privatebrowsing/private-browsing.svg");

    --tridactyl-container-fingerprint-url: url("resource://usercontext-content/fingerprint.svg");
    --tridactyl-container-briefcase-url: url("resource://usercontext-content/briefcase.svg");
    --tridactyl-container-dollar-url: url("resource://usercontext-content/dollar.svg");
    --tridactyl-container-cart-url: url("resource://usercontext-content/cart.svg");
    --tridactyl-container-circle-url: url("resource://usercontext-content/circle.svg");
    --tridactyl-container-gift-url: url("resource://usercontext-content/gift.svg");
    --tridactyl-container-vacation-url: url("resource://usercontext-content/vacation.svg");
    --tridactyl-container-food-url: url("resource://usercontext-content/food.svg");
    --tridactyl-container-fruit-url: url("resource://usercontext-content/fruit.svg");
    --tridactyl-container-pet-url: url("resource://usercontext-content/pet.svg");
    --tridactyl-container-tree-url: url("resource://usercontext-content/tree.svg");
    --tridactyl-container-chill-url: url("resource://usercontext-content/chill.svg");

    --tridactyl-container-color-blue: #82AAFF;
    --tridactyl-container-color-turquoise: #89DDFF;
    --tridactyl-container-color-green: #C3E88D;
    --tridactyl-container-color-yellow: #FFCB6B;
    --tridactyl-container-color-orange: #F78C6C;
    --tridactyl-container-color-red: #F07178;
    --tridactyl-container-color-pink: #FF9CAC;
    --tridactyl-container-color-purple: #C792EA;

    --tridactyl-externaledit-bg: var(--tridactyl-logo) no-repeat center;
}
